/* body {
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}
.card
{
    background-color: 
    #517fa4
}

 .card-text {
    color:#0000;
} */



.ftco-schedules h2
{
color:#bf4aa8;
}